<style>
  .btn-success {
    border-radius:25px;
    background-color:black;
    color:white;
    width:250px;
    height:50px;
    padding:10px;
    display:block;
    margin: 0 auto;
    font-weight:bold;

  }

  .inputs {
    margin-top:50px;
  }

  .image-show{
    margin-top:50px;
    margin-left:50px;
  }

  .picture {
    width:400px;
  }
</style>

<div hd-directive></div>

<div class="container">
        <a href="#/upload" 
           class="btn btn-success"
           role="button"
           ng-click="ctrl.toggleView(false)"
           ng-class="ctrl.displayTodos ? '': 'active'">
           UPLOAD MY SELFIE
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Display Super Heros -->
    <div ng-if="!ctrl.displayTodos" ng-controller="PhotoController as shCtrl">
      <div class="col-xs-6">
        <h1 class="image-show">Photos List</h1>
        <div class="image-show" ng-repeat="photo in shCtrl.photos">
          <img class="picture"ng-src="{{photo.profileImage}}"><br>
          <label>Name: </label><span ng-bind="photo.name"></span><br>
          <label>Store: </label><span ng-bind="photo.store"></span><br>
          <label>Price: </label><span ng-bind="photo.price"></span><br>
        </div>
      </div>
        <div class="col-xs-6 add-photo-container">
          <div class="inputs">
            <h3>Add Photo</h3><br>
            <label>Name: </label><input type="text" ng-model="shCtrl.photo.name"></input><br>
            <label>Store: </label><input type="text" ng-model="shCtrl.photo.store"></input><br>
            <label>Price: </label><input type="text" ng-model="shCtrl.photo.price"></input><br>
          </div>
          <div>
            <!-- useing ngf-select from the ng-file-upload library -->
            <input type="file" ngf-select ng-model="shCtrl.photo.file">
          </div>
          <div>
            <button class="btn btn-primary" ng-click="shCtrl.addPhoto(shCtrl.photo)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ft-directive></div>
